In [61]:
pip install pandas

Requirement already satisfied: pandas in f:\python\.folder\lib\site-packages (2.0.3)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dateutil>=2.8.2 in f:\python\.folder\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in f:\python\.folder\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in f:\python\.folder\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in f:\python\.folder\lib\site-packages (from pandas) (1.25.1)
Requirement already satisfied: six>=1.5 in f:\python\.folder\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## Условие 1: 1 задача
### Скачать файл в уроке
### Считать данные с помощью pandas
### Вывести на экран первые 5 строк
### Посмотреть на описание признаков и на их содержание

In [62]:
import pandas as pd

In [63]:
df = pd.read_csv('kc_house_data.csv', encoding = '1251', index_col='id', parse_dates=['date'], dayfirst=False)
df.head(5)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## Условие 2: 2 задача
### Проведите первичный анализ данных
### Изучите типы данных
### Найдите количество пропущенных ячеек в данных
### Посчитайте основные статистики по всем признакам и поизучайте их
### Пишите выводы

In [64]:
df.dtypes

date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [65]:
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of              date  price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
id
7129300520  False  False     False      False        False     False   False
6414100192  False  False     False      False        False     False   False
5631500400  False  False     False      False        False     False   False
2487200875  False  False     False      False        False     False   False
1954400510  False  False     False      False        False     False   False
...           ...    ...       ...        ...          ...       ...     ...
263000018   False  False     False      False        False     False   False
6600060120  False  False     False      False        False     False   False
1523300141  False  False     False      False        False     False   False
291310100   False  False     False      False        False     False   False
1523300157  False  False     False      False        False     False   False

            waterfront   view  condition  grade  sqft_above  sqft_basement  \
id
7129300520       False  False      False  False       False          False
6414100192       False  False      False  False       False          False
5631500400       False  False      False  False       False          False
2487200875       False  False      False  False       False          False
1954400510       False  False      False  False       False          False
...                ...    ...        ...    ...         ...            ...
263000018        False  False      False  False       False          False
6600060120       False  False      False  False       False          False
1523300141       False  False      False  False       False          False
291310100        False  False      False  False       False          False
1523300157       False  False      False  False       False          False

            yr_built  yr_renovated  zipcode    lat   long  sqft_living15  \
id
7129300520     False         False    False  False  False          False
6414100192     False         False    False  False  False          False
5631500400     False         False    False  False  False          False
2487200875     False         False    False  False  False          False
1954400510     False         False    False  False  False          False
...              ...           ...      ...    ...    ...            ...
263000018      False         False    False  False  False          False
6600060120     False         False    False  False  False          False
1523300141     False         False    False  False  False          False
291310100      False         False    False  False  False          False
1523300157     False         False    False  False  False          False

            sqft_lot15
id
7129300520       False
6414100192       False
5631500400       False
2487200875       False
1954400510       False
...                ...
263000018        False
6600060120       False
1523300141       False
291310100        False
1523300157       False

[21613 rows x 20 columns]>

In [66]:
df.describe()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21613,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,2014-10-29 04:38:01.959931648,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
min,2014-05-02 00:00:00,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2014-07-22 00:00:00,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,2014-10-16 00:00:00,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,2015-02-17 00:00:00,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,2015-05-27 00:00:00,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000
std,NaN,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631

In [67]:
df['date'].dt.month_name()

id
7129300520     October
6414100192    December
5631500400    February
2487200875    December
1954400510    February
                ...
263000018          May
6600060120    February
1523300141        June
291310100      January
1523300157     October
Name: date, Length: 21613, dtype: object

In [68]:
df['price'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of id
7129300520    221900.0
6414100192    538000.0
5631500400    180000.0
2487200875    604000.0
1954400510    510000.0
                ...
263000018     360000.0
6600060120    400000.0
1523300141    402101.0
291310100     400000.0
1523300157    325000.0
Name: price, Length: 21613, dtype: float64>

## Условие 3: 3 задача

### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [69]:
print('минимальная и максимальная цены: '), 
df['price'].min(), df['price'].max()

минимальная и максимальная цены:

(75000.0, 7700000.0)

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [70]:
zhil_plosh= round(df['sqft_living'].mean(), 2)
zhil_plosh

2079.9

In [71]:
vsego_plosh= round(df['sqft_lot'].mean(), 2)
vsego_plosh

15106.97

In [72]:
dolya_zhilplosh= zhil_plosh / vsego_plosh*100
print('доля жилой площади от всей площади по всем домам (%): '), 
dolya_zhilplosh

доля жилой площади от всей площади по всем домам (%):

13.767817106938057

### 3.3 Как много домов с разными этажами в данных?

In [73]:
print('этажей в доме, разбивка '),
df['floors'].value_counts()

этажей в доме, разбивка

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

### 3.4 Насколько хорошие состояния у домов в данных?

In [74]:
print('состояние домов, разбивка '),
df['condition'].value_counts()

состояние домов, разбивка

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [75]:
print('минимальная и максимальная даты производства домов: '), 
df['yr_built'].min(), df['yr_built'].max()

минимальная и максимальная даты производства домов:

(1900, 2015)

## Условие 4: 4 задача

### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [76]:

df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [77]:
print('средняя общая площадь домов, у которых стоимость больше 600 000 :'),
df[df['price']> 600000]['sqft_lot'].mean()

средняя общая площадь домов, у которых стоимость больше 600 000 :

20442.524776214832

### 4.3 Как много домов коснулся ремонт?

In [78]:
print('количество домов, которых коснулся ремонт:'),
df[df['yr_renovated'] !=0 ].shape[0]

количество домов, которых коснулся ремонт:

914

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [79]:
horoshie_doma = df[df['grade']>10]['price'].mean(), 
horoshie_doma

(1678635.1175298805,)

In [80]:
plohie_doma = df[df['grade']<4]['price'].mean(), 
plohie_doma

(189750.0,)

In [82]:
raznica = round(horoshie_doma - plohie_doma, 2)
raznica

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

## Условие 5:  задача

### 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [84]:
df[(df['waterfront'] ==1)& (df['bathrooms']>=3)& (df['sqft_basement']>0)].shape[0]

41

### 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [93]:
client = df[(df['yr_built']>=1980) & (df['condition']>3) & ((df['wiew']>2) | (df['waterfront'] ==1))]
client['price'].min(), client['price'].max()

KeyError: 'wiew'

### 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [92]:
df[(df['sqft_basement']==0) & (df['floors']==2) & (df['price']<150000)]['condition'].mean()

2.8333333333333335